
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
	max-width: 1300px;
	background-color: white;
	margin: 0px auto;
}
header{
	margin: 0px auto;
	width: 98%;
	height: 700px;
	background: url(../img/coffee-shop.png) no-repeat center center;
	background-size: cover;
}
.Top-Navigation{
	color: #fff;
	background-color: #39312f;
	height: 100px;
	opacity:0.5;
	text-align: center;
	line-height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.topmenu{
	height: 100%;
	 display: flex;

}
.topmenu__link{
	color: #fff;
	text-decoration: none;
	line-height: 100px;
	padding-right: 20px;
	font-size: 18px;
	font-family: Playfair Display bold;
	text-transform: capitalize;
}
.topmenu__link:hover{
	color: #f5d76e;
}
.topmenu__logo{
	max-width: 100%;
}
.Header-text{
	max-width: 450px;
	padding-left: 10%;
	padding-top: 160px;
}
.Header-text__text{
padding: 30px 0 30px;
font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-family: lato medium;
	text-transform: capitalize;}
.Header-text__titel{
	font-size: 48px;
	font-family: Playfair Display bold;
	text-transform: capitalize;
	line-height: 28px;
	color: #f5d76e;
}
.Header-text__buuton{
	text-align: center;
	text-decoration: none;
	width: 180px;
	height: 50px;
	display: inline-block;
	border: solid 1px #fff;
	color: #fff;
	font-size: 13px;
	font-family: loto Heavy;
	text-transform: capitalize;
	line-height: 50px;
	
}

/*abaut*/
.abaut{
	margin: 100px auto ;
	max-width: 740px;

	text-align: center;
}
.abaut__titel{
	color: #000;
	font-size: 32px;
	font-family: Playfair Display bold;
	text-transform: capitalize;
	line-height: 24px;
}
.abaut__text{
	padding-top: 30px;
	color: #000;
	font-size: 16px;
	font-family: loto regular;
	text-transform: capitalize;
	line-height: 24px;
}
.coffee{text-align: center;}

/*menu*/
.menu__titel{
	text-align: center;
	margin: 70px 0 55px;
	font-size: 32px;
	font-family: Playfair Display bold;
	text-transform: uppercase;
	line-height: 24px;
}
}
.conteiner{
	margin: 0px auto;
	width: 98%;
}
.menubox{
display: grid;
grid-template-columns: repeat(3, 395px);
	grid-column-gap: 40px;
	grid-template-rows: 400px;
}
.menubox__coffee{
	background: url(../img/cup%20of%20coffee.png) no-repeat;
	background-size: counter-reset: ;
	height: 100%;
	
}
.menubox__item{
	height: 290px;
}
.menubox__tea{
	background: url(../img/tea%20realisticshots.png) no-repeat;
	background-size: cover;
	height: 290px;
}
.menubox__desserts{
	background: url(../img/Dessert.png) no-repeat;
	background-size: cover;
	height: 100%;
}
.menubox__coffee__text {
	 font-size: 40px;
		text-transform: uppercase;
  display: none;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Segoe UI';
  line-height: 300px;
  text-align: center;
  color: #000;
	height: 100%;
  animation: fade .5s linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menubox__coffee:hover .menubox__coffee__text {
  display: block;
  background: rgba(0, 0, 0, 0.5);
	cursor: pointer;}
	
	.menubox__tea__text {
		 font-size: 40px;
		text-transform: uppercase;
  display: none;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Segoe UI';
  line-height: 300px;
  text-align: center;
  color: #000;
	height: 100%;
  animation: fade .5s linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menubox__tea:hover .menubox__tea__text {
  display: block;
  background: rgba(0, 0, 0, 0.5);
	cursor: pointer;}

	.menubox__desserts__text {
  display: none;
  font-size: 40px;
		text-transform: uppercase;
  font-weight: 700;
  font-family: 'Segoe UI';
  line-height: 300px;
  text-align: center;
  color: #000;
	height: 100%;
  animation: fade .5s linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menubox__desserts:hover .menubox__desserts__text {
  display: block;
  background: rgba(0, 0, 0, 0.5);
	cursor: pointer;}

.wrapper{
	    display: grid;
    grid-template-columns: 150px 100px;
    align-items: c;
    justify-content: space-around;
	margin-top: 45px;
}
.name__text{
	font-size: 16px;
	font-family: loto Heavy;
	text-transform: capitalize;
	line-height: 28px;
}
.price__text1{
	font-size: 16px;
	font-family: loto Medium;
	text-transform: capitalize;
	line-height: 28px;
}
.menu__buuton{
	width: 240px;
	margin: 100px auto 70px;
}
.menu__ful{
	width: 238px;
	height: 50px;
	display: inline-block;
	border: solid 2px #000;
	font-size: 13px;
	font-family: loto Heavy;
	text-transform: uppercase;
	line-height: 50px;
	text-decoration: none;
		color: #000;
	text-align: center;
}


/*Testimonials*/
.Testimonials__box{
	display: grid;
	grid-template-columns: 2fr 450px;
	grid-template-rows: 420px;
	background-color: #39312f;
}
.Testimonials__backgraund{
	background: url(../img/BG.png) no-repeat center center;
	background-size: cover;
	height: 100%;
}
.Testimonials__item{
	display: flex;
}
.slider{
	width: 260px;
	margin:  auto;
	text-align: center;
}
.slider__name{
	color: #f5d76e;
}
.slider__text{
	color: #fff;
}

/*Location*/
.Location__box{
	display: grid;
	grid-template-columns:  450px 2fr;
	grid-template-rows: 420px;
	
}
.Location__item1{
	padding: 50px;
	background-color: #f5d76e;
}
.Location__titel{
	font-size: 20px;
	font-family: Playfair Display bold;
	text-transform: uppercase;
	line-height: 28px;
	    margin-bottom: 30px;
}
.Location__text{
	font-size: 16px;
	font-family: lato Semibold;

	line-height: 24px;
}
.Hours{
width: 180px;}
.qaz{
float: right;
}
.Location__titel1{
	font-size: 20px;
	font-family: Playfair Display bold;
	text-transform: uppercase;
	line-height: 28px;
	    margin-bottom: 30px;
	margin-top: 16px;
}
/*footer*/

.footer__box{
	margin-top: 15px;
	height: 300px;
	width: 100%;
	background-color: #39312f;
}
.footer__img{
	font-size: 28px;
	color: #fff;
}
.footer__icons{
	width: 130px;
    display: flex;

    margin: 0 auto;
    justify-content: space-between;
    padding-top: 90px;
}
.footer__text{
	text-align: center;
	color: #fff;
	padding-top: 45px;
}
.footer__img:hover{
	color: #f5d76e;
}
