@media screen and (max-width: 970px) {.menubox {
    display: grid;
    justify-content: center;
    grid-template-columns: 320px;
    grid-column-gap: 40px;
    grid-template-rows: 495px 495px 495px;
	}}
@media screen and (max-width: 800px){
.Location__box {
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 420px;
	}
	.Testimonials__box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 420px 420px;
    background-color: #39312f;
}
}
@media screen and (max-width: 530px){
	.topmenu__link{
		    padding-right: 10px;
		font-size: 11px;
	}
	.topmenu__img{
		width: 90px;
	}