.slogan__text {
	font-size: 12px;
	line-height: 16px;
	padding-top: 45px;
}
.map {
	margin-top: 30px;
	overflow: hidden;
	padding-bottom: 44.25%;
	position: relative;
	height: 0;
}
.map__item {
	border: 0px;
	left: 0;
	top: 0;
	height: 400px;
	width: 100%;
	position: absolute;
}
.contact-info {
	display: grid;
	padding-top: 30px;
}
.input-text,
.input-email {
	font-size: 12px;
	line-height: 28px;
	height: 35px;
	width: 180px;
	background-color: #fafafa;
	outline: none;
	border: 1px solid #ececec;
	padding-left: 10px;
	margin-bottom: 10px;
	color: #9E9C9C;
	text-transform: capitalize;
}
.textarea-text {
	font-size: 16px;
	line-height: 28px;
	width: 500px;
	height: 220px;
	background-color: #fafafa;
	outline: none;
	border: 1px solid #ececec;
	padding-left: 10px;
	text-transform: capitalize;
}
.submit {
	height: 25px;
}
.submit__item {
	position: relative;
	width: 45px;
	background-color: transparent;
	border: none;
}
.submit {
	padding-bottom: 46px;
}
.button {
	width: 70px;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	text-transform: capitalize;
}
.button:before {
	content: "\00BB";
	font-size: 17px;
	line-height: 25px;
	font-weight: bold;
	padding-right: 5px;
}
