* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Maven Pro', sans-serif;
	width: 100%
}
.conteiner {
	margin: 0 auto;
	max-width: 1900px;
	height: 1080px;
	background: url(../img/Rectangle%201.png)no-repeat center center;
	background-size: cover;
}
