@media (max-width: 1100px) {
    .about-us-content{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
    }
    .about-us-slider{
        width: 100%;
    }
    .about-us-wahatis{
        width: 70%;
    }
}

@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }
}
.
@media (min-width: 768px) {
  .drawer-list li a {
    text-align: right;
    padding: .5rem;
  }

}

@media (max-width: 768px){
  .slick-arrow-right{
    width: 25px;
  }
  .slick-arrow-left{
     width: 25px;
  }  
  .slider-flex{
    flex-wrap: wrap;
  }
  .slider__button{
    margin-top: 10px;
  }
  .slider__titel{
    font-size: 30px;
  }
  .subitems__link{
    font-size: 13px;
  }
}
@media (max-width: 480px){
        .navigation-wr{
        justify-content: flex-start;
    }
    .clients-say-slider-right{
            top: 130%;
            right: 10%
    }
    .clients-say-slider-left{
            top: 130%;
            left: 10%;
    }
    .about-us-box-buttons__text {
   
    font-size: 13px;
}
}


