.wrapper_modal{
	
	margin: 0px auto;
	text-align: center;
	padding: 50px 75px;
}
.modal{
	max-width: 1280px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(232px,auto));
	grid-gap: 20px;
	grid-row-gap: 50px;
	padding-left: 70px;
	padding-right: 70px;
	
}
.modal__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 77px 49px 1fr 117px 200px  40px;
	align-items: center;
}

}
.modal__div{
	width: 200px;
}
.modal__text{
	text-align: left;
	font-size: 15px;
	line-height: 24px;
	font-family: GothaProreg;	
	text-overflow: ellipsis;
	 max-height: 3.5em;
	
	
}
.modal__address{
	font-size: 19spx;
	line-height: 35px;
	font-family: GothaProLig;
	
}
.modal__hr_left {
   margin: 40px 0px 40px;
    height: 8px;
    border: 0px;
    width: 50%;
    background: -moz-radial-gradient(center, ellipse cover, #5e449c, #d9e9ec);
    background: -webkit-linear-gradient(left, #5e449c, #d9e9ec);
    background: -o-linear-gradient(left, #5e449c, #d9e9ec);
    background: -ms-linear-gradient(left, #5e449c, #d9e9ec);
}
.modal__titel{
	margin-bottom: 28px;
	font-size: 43px;
	line-height: 44px;
	font-family: GothaProBol;
	
}
.center{
	position: relative;
}
span{
position: absolute;
    position: absolute;
    left: 45%;
    top: 33%;
color: white;
font-size: 43px;
left: 34%;
    top: 23%;}
.one{
position: absolute;
    position: absolute;
    left: 45%;
    top: 33%;
color: white;
font-size: 43px;
left: 34%;
    top: 23%;}
.modal__img{
padding: 20px 0px 23px 0px;
	    margin: 0px auto;
width: 80%;
	}
.modal__img1{
	padding-bottom: 27px;
	text-align: center;
	
    width: 110px;
    margin: 0px auto;

	
}
.open_modal{
	color:#ff0046;
	font-size: 15px;
	line-height: 35px;
	font-family: GothaProreg;
	text-transform: uppercase;
	display: block;
	text-align: left;
	
}


.pupap{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	    align-items: center;
}
.pupap__name{
	font-size: 40px;
}




.modal_div {
	width: 50%; 
	height: auto; /* Размеры должны быть фиксированы */
	border-radius: 5px;
	border: 1px #000 solid;
	background: #fff;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -200px;
	margin-left: -25%; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 5; /* окно должно быть наиболее большем слое */
	padding: 20px 10px;
}
/* Кнопка закрыть для тех кто в танке) */
.modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
.pupap__sale{
	position: relative;
}
.pupap__logo{
	width: 100%;
}
.pupap__img{
	width: 50%;
}
.sale{
	position: absolute;
	right: 105px;
}
/* Подложка */
#overlay {
	z-index: 3; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: #000; /* черная */
	opacity: 0.8; /* но немного прозрачна */
	width: 100%; 
	height: 100%; /* размером во весь экран */
	top: 0; 
	left: 0; /* сверху и слева 0, обязательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состоянии её нет) */
}
