* {
	margin: 0;
	padding: 0;
}

body {
	font-family:GothaPro;
	max-width: 1280px;
	background-color: white;
	margin: 0px auto;
}

/*header*/
header{
	background: url(../img/Rectangle%206%20copy.png) no-repeat center center;
	background-size: cover;
	height: 770px;
   width: 100%;
}
.wrapper__header {
	text-align: center;
	position: relative;
	
   width: 100%;

	  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 520px;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "logo date bage" "titel titel bage";

}
#menu {
    	text-align: right;
}
  
}
#menu.default {
    width:920px;
}
#menu.fixed {
    position:fixed;
    top:0; left:0;
    width:100%;
	z-index: 100;
	height: 33px;
	 padding-top: 5px;

	background-color: white;
}
#top_nav{
	 top: 150px; /*высота шапки в пикселях*/
   position: fixed;
   z-index: 1000;
}
.logo { grid-area: logo;
padding-top: 40px;}

.date { grid-area: date; }

.bages { grid-area: 1 / 3 / 2 / 4; 
    background: url(../img/%5E5BDD57D155363787577F022563E0A67162F78BA5B8DED0308E%5Epimgpsh_fullsize_distr.png) no-repeat center center;
    height: 580px;
	background-size: contain;
}
.date__text1{
	text-align: center;
}
.bage { grid-area: bage; }

.titel { grid-area: titel; 
text-align: left;
padding-left: 25px;}


.date__text{
	font-family: GothaProLig;
    font-size: 18px;
    color: white;
	padding-top: 40px;
	text-transform: uppercase;
  
}
.titel__item {
	margin-top: 95px;
	font-size: 100px;
	font-family: GothaProBla;
	line-height: 1;
	color: white;
}

.titel__item1 {
	font-size: 40px;
	font-family: GothaProLig;
	margin-bottom: 90px;
	padding-top: 25px;
	color: white;
}


.buuton{
	padding-left: 85px;
}

.buuton__link {
	text-decoration: none;
	color: white;
	width: 190px;
	height: 40px;
	background-color: transparent;
	border: solid 1px white;
	border-radius: 30px;
	text-align: center;
	display: block;
	line-height: 40px;
	font-size: 14px;
	font-family: GothaProReg;
}
.buuton__link:hover {
   
	background-color: #722d6e;}
.menu {
	text-align: right;
	position: absolute;
	bottom: 140px;
	right: 0px;

}





.menu-heade__link {
	text-decoration: none;
	color: #282626;
	font-size: 18px;
	margin-right: 35px;
	text-transform: uppercase;
	font-family: GothaProReg;
}

.menu-heade__link:hover {
	text-decoration: none;
	border-bottom: 8px solid #ca204a;


}
/* section watisit*/
.watisit__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	grid-column-gap: 70px;
}
.watisit__titel1 {
	font-size: 48px;
	font-family: GothaProLig;
	padding: 70px 0 50px 0;
	line-height: normal;
	padding-left: 85px;
}

.watisit__titel2 {
	font-size: 36px;
	font-family: GothaProBol;
    padding-left: 85px;
}

.watisit__text {
	font-family: GothaProReg;
	font-size: 16px;
	line-height: 24px;
	padding: 30px 0 27px 55px;
}

.watisit__text1 {
	font-family: GothaProReg;
	font-size: 16px;
	line-height: 24px;
	padding-left: 55px;
}

.programm {
	width: 100%;
	height: 90px;
	display: grid;
	justify-content: center;
	align-content: center;
	font-size: 24px;
	color: white;
	background: #cb204a;
	background: -moz-radial-gradient(center, ellipse cover, #cb204a, #5e449c);
	background: -webkit-linear-gradient(left, #cb204a, #5e449c);
	background: -o-linear-gradient(left, #cb204a, #5e449c);
	background: -ms-linear-gradient(left, #cb204a, #5e449c);
	margin: 70px 0 50px 0;
	font-size: 24px;
	font-family: GothaProLig;
	
}
.programm__link{
	color: white;
}
.myvideo {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
border:1px solid #ccc;
}
.myvideo iframe,.myvideo object,.myvideo embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
/*section include*/

.wrapper__box {
	
	display: flex;
	flex-direction: row;
	
	align-items: baseline;
}

.titel__block {
	width: 50%;
	
	display: flex;
	align-items: baseline;
}

.litl__titel {
	font-size: 48px;
	margin-left: 85px;
	    margin-top: 40px;
}

.line {
	margin: 60px 0 80px 0;
	height: 8px;
	border: 0px;
	width: 100%;
	background: -moz-radial-gradient(center, ellipse cover, #5e449c, #d9e9ec);
	background: -webkit-linear-gradient(left, #5e449c, #d9e9ec);
	background: -o-linear-gradient(left, #5e449c, #d9e9ec);
	background: -ms-linear-gradient(left, #5e449c, #d9e9ec);
}



.conteiner_inclube {
	display: grid;
	grid-template-columns:  230px 230px 230px;
	justify-content: space-evenly;
	
}

.conteiner_inclube__item {
	position: relative;
}

.conteiner_inclube__text {
	font-size: 24px;
	font-family: GothaProbol;
	text-align: center;
	margin-top: 50px;
}

.conteiner_inclube__img {
	width: 220px;
}

.circle {
	width: 60px;
	height: 60px;
	background-color: #5e449c;
	border-radius: 50%;
	position: absolute;
}

.circle2 {
	bottom: 180px;
	left:  79px;
}

.circle1 {
	bottom: 180px;
	left:79px;
}

.circle3 {
	bottom: 180px;
	left:79px;
}

.conteiner_inclube__span {
	font-size: 18px;
	color: white;
	line-height: 60px;
	padding-left: 16px;
}

.conteiner_inclube__span1 {
	font-size: 18px;
	color: white;
	line-height: 60px;
	padding-left: 23px;
}



.buuton__inclube__link {
	    text-decoration: none;
    color: #000;
    display: block;
    width: 220px;
    height: 40px;
    background-color: transparent;
    border: solid 1px #000;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-family: GothaProReg;
    margin: 0px auto;
    background-color: #fff;
    margin-top: 30px;
}
.buuton__inclube__link:hover{
	 
    color: #000;
    
    background-color: #d7d3da;
    
}
/*section pluses*/

.wrapper__pluses {
position: relative;
	display: flex;
	justify-content: space-between;
	
}

.square {
		position: relative;
	background: url(../img/Rectangle%206%20copy%203.png) no-repeat center center;
	background-size: cover;
	    width: 50%;
    height: 720px;
    float: right;
}

.card {
	width: 50%;
	height: 532px;
	background-color: #fff;
	position: absolute;
	border: 1px solid #a0a6a9;
	top: 145px;
	left: 180px;
	border-radius: 30px;
}

.red_square {
	position: absolute;
	width: 95px;
	height: 26px;
	background-color: #4958cc;
	border: 1px solid #a0a6a9;
	border-radius: 30px;
	left: 50%;
	margin-left: -43px;
	top: 40px;
}

.card_text {
	text-align: center;
	padding-top: 120px;
	text-transform: uppercase;
}

.card_text-red {
	font-size: 19px;
	font-family: GothaProReg;
	color: #cb204a;
	padding-bottom: 10px;
}

.card_text-grey {
	font-size: 29px;
	font-family: GothaProReg;
	color: #a399ac;
}

.card_text-hr {
	margin: 45px auto;
	height: 8px;
	border: 0px;
	width: 90%;
	background-color: #a399ac;
}

.price {
	font-size: 72px;
	font-family: GothaProBol;
}

.price__text {
	font-size: 36px;
	font-family: GothaProLig;
}
.buuton__buy{
width: 95%;
    width: 95%;
    margin: auto;
}
.buuton__buy__link {
	text-decoration: none;
	color: white;
	margin: 40px auto 0px;
	
	height: 53px;
	background-color: #ff0046;
	border-radius: 30px;
	text-align: center;
	line-height: 53px;
	font-size: 18px;
	font-family: GothaProReg;
	display: block;
}
.buuton__buy__link:hover{
	background-color: #cb204a;
}

.table__conteiner {
	width: 85%;
	height: 312px;
	background-color: #d9e9ec;
	position: absolute;
	left:-450px;
	top: 280px;
	padding: 30px;
}

.table__grid {
	width: 100%;
	margin: 0px auto;
	align-items: center;
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 62px 62px 62px 62px 35px;
	grid-template-areas: "area1 area1 area1" "area2 area2 area2" "area3 area3 area3" "area4 area4 area4" "area5 area5 area5";
	position: relative;
}
.hr{
    position: absolute;
    width: 179px;
    left: 175px;
    height: 263px;
    
    border-left: solid 1px black;
    border-right: solid 1px black;}
.area1 {
	display: grid;
	grid-area: area1;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". . .";
	border-bottom: solid 1px #282626;
	padding-bottom: 10px;
	

}

.area2 {
	display: grid;
	grid-area: area2;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". . .";
	border-bottom: solid 1px #282626;
	padding-bottom: 10px;
	text-align: center;
}

.area3 {
	display: grid;
	grid-area: area3;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". . .";
	border-bottom: solid 1px #282626;
	padding-bottom: 10px;
	text-align: center;
}

.area4 {
	display: grid;
	grid-area: area4;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". . .";
	border-bottom: solid 1px #282626;
	padding-bottom: 10px;
	text-align: center;
	
}

.area5 {
	display: grid;
	grid-area: area5;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". . .";
}

.table__textbold {
	text-align: center;
	font-size: 14px;
	font-family: GothaProBol;
}

.table__text {
	text-align: left;
	font-size: 14px;
	font-family: GothaProLig;
	text-transform: uppercase;
	
}

.table__textblue {
	text-align: center;
	font-size: 14px;
	font-family: GothaProBol;
	color: #4958cc;
}
.clear{
	clear: both;
}
.table__textbig {
	text-transform: uppercase;
}
/* section how_to_get*/

.wrapper__howtoget{
	display: flex;
	   /* padding-bottom: 851px;*/
}
.how_to_get__container {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	bottom: 215px;
	position: absolute;
	
}

.how_to_get__item {
	width: 190px;
	
}

.how_to_get__text {
	font-size: 24px;
	font-family: GothaProbol;
	text-align: center;
	margin-top: 50px;

}

.how_to_get__hr {
	width: 3px;
	margin-top: 89px;
	height: 50px;
	border: 0px;
	margin: 0px auto;
	background-color: #4958cc;
}
.how_to_get__hr {
	width: 90%;
	margin-top: 89px;
	height: 2px;
	border: 0px;
	
	background-color: #4958cc;}

/*footer*/

.wrapper__footer {
	height: 375px;
	width: 100%;
	background: url(../img/bg%20shape.png) no-repeat;
	background-size: cover;
	margin-top: 150px; 
	position: relative;
	
}

.footer__conteiner {
	display: flex;
	position: absolute;
	bottom: 0px;
	justify-content: space-around;;
	width: 100%;
	align-items: baseline;
}

.footer__conteiner__item2 {
	
	text-align: center;
	padding-bottom: 65px;
}

.footer__conteiner__item3 {
	
	text-align: right;
	padding-bottom: 65px;
}

.footer__conteiner__img1 {
	padding-right: 90px;

}

.footer__conteiner__item {
	padding-bottom: 65px;
	
}

.footer__sociallink {
	font-size: 14px;
	font-family: GothaProReg;
	text-decoration: none;
	color: #282626;
	margin-right: 30px;
}

.footer__link {
	font-size: 18px;
	font-family: GothaProBol;
	text-decoration: none;
	color: #282626;
}
.footer__sociallink:hover {
	text-decoration: none;
	border-bottom: 1px solid #000;

}
.footer__link:hover {
	text-decoration: none;
	border-bottom: 1px solid #000;

}